/* Apply a basic set of styles to the whole page */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Style the header and navigation links */
header {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Style the main heading */
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 { 
  text-align: center;
}

/* Style the bookshelf container */
#bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

/* Style the add book form */
#add-book-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 500px;
}

#add-book-form label {
  margin-top: 10px;
}

#add-book-form input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

#add-book-form button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

#add-book-form button:hover {
  cursor: pointer;
  background-color: #555;
}

/* Style the book cards */
.book-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book-card h3 {
  margin-top: 0;
}

.book-card p {
  margin-top: 10px;
}

/* Style the comments section */
.comments-section {
  margin-top: 20px;
}

.comments-section h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.comments-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments-section li {
  margin-bottom: 10px;
}

.comments-section form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.comments-section label {
  margin-top: 10px;
}

.comments-section input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  color: #333;
}

.comments-section button {
  background-color: #333;
  color: white
}